.h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.9);
}

.p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;

    /* line-height: 30px; */ 
    line-height: 1.66667;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.7);

    width: 100%;
    /* width: 100%; */
}

.button {
    width: 100%;

    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #fff;

    background-color: #141414;
}