.h2 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 20px;
}