*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    height: 100%;
    border: 1px solid red;
}

.myContainer {
    max-width: 1170px;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    border: 1px solid rgb(68, 0, 255);
}