*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 375px;
}

.section {
    min-height: 100vh; 
    background-color: #eff2f9;    
}

.myContainer {
    max-width: 1170px;    
    min-height: 800px;
    width: 100%;   
    padding: 65px 50px;

    margin: 0 auto;
    background-color: #fff;
}

ul {
    display: flex;
    align-items: center;
    gap: 40px; 
}

li {
    list-style-type: none;
}

select {
    width: 100%;
    border: none;

    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);

    appearance: none;
    background-image: url(./app/assets/infoBlock/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
}

@media screen and (max-width: 1020px) {
    .myContainer  {
        padding: 60px 60px 60px 70px;
    }
}

@media screen and (max-width: 670px) {
    .myContainer {
        padding: 60px 20px 20px 60px;
    }
}