.container {
    padding: 134px 120px 0 80px;
    border-right: 2px solid rgba(20, 20, 20, 0.15);
}

.flexWrapperMain {
    flex-direction: column;
    align-items: center;
    gap: 145px;
}

.flexWrapperSecondary {
    gap: 75px
}

.preview {
    width: 80px;
    height: 80px;
    padding: 11px 11px;
}

.selected {
    box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);
    background-color: #fff; 
}

@media screen and (max-width: 1020px) {
    .container {
        padding: 60px 0 70px 0;

        border-right: none;
        border-bottom: 2px solid rgba(20, 20, 20, 0.15);
    }

    .flexWrapperMain {
        gap: 60px;
    }
}